:root {
  	--size: 250px;
  	--deg: 0deg;
  	--dur: 8;
  	--repeat: infinite;
}

.fd-c-hero__wrapper {
    position: relative;
  	display: flex;
	flex-direction: column;
	height: 80vh;
	align-items: center;
	justify-content: center;
}

.fd-c-hero__strapline {
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.fd-c-hero__gooey {
    position: absolute;
    top: calc(50% -  calc(var(--size) / 2));
    left: calc(50% -  calc(var(--size) / 2));
    background: linear-gradient(var(--deg), var(--color-primary-light) 0%, var(--color-primary-lighter) 100%);
    z-index: -1;
}

.fd-c-hero__gooey:before,
.fd-c-hero__gooey:after {
  	content: '';
	position: absolute;
  	left: 0;
	top: 0;
  	display: block;
}

.fd-c-hero__gooey,
.fd-c-hero__gooey:before,
.fd-c-hero__gooey:after {
	width: var(--size);
	height: var(--size);
    animation: Gooey calc(var(--dur) * 1s) ease-in-out var(--repeat) alternate;
  	will-change: border-radius, transform, opacity;
}

.fd-c-hero__gooey:before {
  	--scale: 1.6;
  	--deg: 80deg;
	background: linear-gradient(var(--deg), var(--color-primary-light) 0%, var(--color-accent-bright) 100%);
    opacity: .40;
}

.fd-c-hero__gooey:after {
  	--scale: 1.0;
  	--deg: -60deg;
	background: var(--color-primary);
    opacity: .80;
}

@keyframes Gooey {
  	0% {border-radius: 50% 65% 40% 45%}
	25% {border-radius: 60% 40% 45% 50%}
	50% {    
        opacity: .80;
        border-radius: 65% 50% 50% 40%;
    }
	75% {border-radius: 50% 40% 60% 50%}
	100% {
		border-radius: 50% 40% 40% 45%;
	 	transform: rotate(var(--deg));
	}
}