$menuWidth: 100%;

.fd-menu {
    min-height: 60px;
    text-align: right;
    background: var(--color-primary);
    box-sizing: border-box;
    padding: 16px;
}

.fd-menu__control {
    position: relative;
    z-index: 2000
}

.fd-menu__panel {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    width: $menuWidth;
    align-items: center;
    text-align: center;
    background: var(--color-primary-dark);
    transition: all 0.3s ease;
    z-index: 1000
}

.fd-menu__panel--open {
    right: 0;
    visibility: visible;
}

.fd-menu__panel--closed {
    right: -$menuWidth;
    visibility: hidden;
}

.fd-menu__link-wrapper {
    width: 100%;
    line-height: 40px;
}

.fd-menu__link {
    color: var(--color-white);
    font-size: 20px;
    text-decoration: none;
}