$menuWidth: 100%;

.fd-menu {
    min-height: 60px;
    text-align: right;
    background-color: var(--color-primary);
    box-sizing: border-box;
    padding: 16px;
}

.fd-menu__control {
    position: relative;
    background-color: inherit;
    border: 0;
    z-index: 2000;

    &:focus {
        outline: 2px solid var(--color-accent-bright);
    }
}

.fd-menu__control--open {
    color: var(--color-white);
    background-color: var(--color-primary-dark);
}

.fd-menu__icon {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    transition: all .25s ease-in-out;
}

.fd-menu__icon:after, 
.fd-menu__icon:before, 
.fd-menu__icon-hamburger {
    content: '';
    display: block;
    height: 4px;
    background-color: var(--color-primary-darker);
    border-radius: 4px;
    margin: 8px 0;
    transition: all .25s ease-in-out;
}

.fd-menu__control--open .fd-menu__icon:after, 
.fd-menu__control--open .fd-menu__icon:before, 
.fd-menu__control--open .fd-menu__icon-hamburger {
    background-color: var(--color-white);
}

.fd-menu__control--open .fd-menu__icon:before {
  	will-change: transform;
    transform: translateY(12px) rotate(135deg);
}

.fd-menu__control--open .fd-menu__icon:after {
  	will-change: transform;
    transform: translateY(-12px) rotate(-135deg);
}

.fd-menu__control--open .fd-menu__icon-hamburger {
  	will-change: transform;
    transform: scale(0);
}

.fd-menu__panel {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    width: $menuWidth;
    align-items: center;
    text-align: center;
    background-color: var(--color-primary-dark);
    transition: all 0.3s ease;
    z-index: 1000
}

.fd-menu__panel--open {
    right: 0;
  	will-change: visibility;
    visibility: visible;
}

.fd-menu__panel--closed {
    right: -$menuWidth;
  	will-change: visibility;
    visibility: hidden;
}

.fd-menu__logo {
    width: 250px;
    height: 250px;
    background-image: url(./images/favicon.ico);
    background-size: 100% 100%;
    clip-path: circle();
}

.fd-menu__link-wrapper {
    width: 100%;
    line-height: 40px;
}

.fd-menu__link {
    color: var(--color-white);
    font-size: 20px;
    text-decoration: none;
}