body {
    color: var(--color-primary-darker);
    font-family: 'Comfortaa', serif;
    font-size: 16px;
    line-height: 1.5em;
}

.container {
    max-width: 1024px;
    padding: 0 40px;
    margin: 0 auto;
}

h1 {
    color: var(--color-primary-darker);
    font-family: 'Lobster', cursive;
    font-size: 100px;
    line-height: 1.25em;
}

h2 {
    color: var(--color-primary);
    font-family: 'Lobster', cursive;
    font-size: 80px;
    line-height: 1.25em;
}

p {
    margin-bottom: var(--spacing-xs);
}


a {
	position: relative;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
        outline: none; 
		text-decoration: none;   
    }
}

a:after {
	content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent-bright);
    transform: scale(0, 1);
    transition: all 0.25s linear;
}

a:hover:after,
a:focus:after {
    transform: scale(1);
}
