@import '../settings';

.c-accordion__wrapper {
    display: flex;
    flex-direction: column;
    background: $color-primary-darker;
    border-radius: 16px;
    overflow: hidden;
}

.c-accordion__header {
    position: relative;
    font-size: $font-size;

    &::before {
        content: "";
        position: absolute;
        left: 16px;
        top: calc(50% - 8px);
        width: 16px;
        height: 16px;
        background-color: $color-accent-light;
        clip-path: polygon(0 0, 0 100%, 100% 50%);
        transform: rotate(0deg);
        transition: transform $transition-duration $transition-easing;
        will-change: transform;
    }

    &--expanded::before {
        transform: rotate(90deg);
        transition: transform $transition-duration $transition-easing;
        will-change: transform;
    }
}

.c-accordion__content {
    max-height: 0;
    transition: max-height $transition-duration $transition-easing;
    will-change: max-height;
    overflow: hidden;

    &--expanded {
        max-height: 1666px;
        transition: max-height $transition-duration $transition-easing;
        will-change: max-height;
    }
}

