@import "../settings";

.c-bubble-link__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-bubble-link {
    position: relative;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    aspect-ratio: 1;
    color: $color-primary-darker;
    background:  $color-primary;
    border-radius: 100%;
	padding: 16px;
    margin-bottom: 16px;

    &::after {
        display: none;
    }
}

.c-bubble-link__icon {
	width: 80%;
	height: 80%;
    padding: 8px;
    transition: all $transition-duration $transition-easing;
}

.c-bubble-link__text {
    display: none;
}

.c-bubble-link:focus {
    border: 2px solid $color-accent-light;
}

.c-bubble-link:hover,
.c-bubble-link:focus {
    fill: $color-primary-darker;

    &::before {
        content: "";
        @include ripple-effect;
    }

	.c-bubble-link__icon {
		justify-self: flex-start;
        width: 50%;
        height: 50%;
        margin-bottom: 8px;
        transition: all $transition-duration $transition-easing;
        will-change: all;
	}

	.c-bubble-link__text {
		display: block;
	}
}

@include for-size("tablet") {
    .c-bubble-link__wrapper {
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: -3%;
    }

    .c-bubble-link {
        width: 134px;
        height: 134px;
        margin: 3%;
    }
}
