.c-bubble-link {
    position: relative;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    aspect-ratio: 1;
    color: $color-primary-darker;
    background:  $color-primary;
    border-radius: 100%;
	padding: 16px;
    margin: 0 auto;

    &::after {
        display: none;
    }
}

.c-bubble-link__icon {
	width: 80%;
	height: 80%;
    padding: 8px;
    transition: all .5s;
}

.c-bubble-link__text {
    display: none;
}

.c-bubble-link:hover {
    fill: $color-primary-darker;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background: rgba($mono-white, .3);
        border-radius: 100%;
        opacity: .3;
        animation: ripple .5s 1;
        transform: scale(1);
    }

	.c-bubble-link__icon {
		justify-self: flex-start;
        width: 50%;
        height: 50%;
        margin-bottom: 8px;
        transition: all .5s;
	}

	.c-bubble-link__text {
		display: block;
	}
}
