.c-hero__wrapper {
    min-height: 100vh;
    padding: 60px 16px;
    position: relative;
}

.c-hero__title {
    text-align: center;
}

.c-hero__subtitle,
.c-hero__strapline {
    font-size: 16px;

    @include for-size('tablet') {
        font-size: 1.25em;
    }
}

.c-hero__strapline {
	position: absolute;
    bottom: 16px;
    right: 16px;
}

.c-hero__gooey {
    @include gooey-motion(250px);
    position: absolute;
    top: calc(50% - #{250px} / 2);
    left: calc(50% - #{250px} / 2);
    z-index: -1;
}
