@import "../settings";

$menu-bar-height: 5px;
$menu-border-width: 2px;

.c-menu__icon {
	position: relative;
	width: 80px;
	height: 80px;
    background-color: $color-primary;
	border: $menu-border-width solid transparent;
    border-radius: 100%;
    transition: background-color $transition-duration $transition-easing;
    will-change: background-color;
    z-index: 2000;

    &:hover::before {
        content: "";
        @include ripple-effect;
    }
    
    &:focus {
        outline: none;
        border: $menu-border-width solid $color-accent-light;
    }
}

.c-menu__icon-bar {
	content: "";
	position: absolute;
	left: 15px; 
	right: 15px;
	height: $menu-bar-height;
	background: $color-primary-darker;
	border-radius: 8px;
	transform: translate3d(0,0,0);
	transition-duration: $transition-duration;
}

    .c-menu__icon-bar-top {
        top: 20px;
        transform-origin: top left;
    }

    .c-menu__icon-bar-middle {
        top: calc(50% - #{$menu-bar-height / 2});
        opacity: 1;
        transition: opacity, left, right,  $transition-duration $transition-easing;
        will-change: opacity;
    }

    .c-menu__icon-bar-bottom {
        bottom: 20px;
        transform-origin: bottom left;
    }

.c-menu__icon--closed {
    background-color: $color-primary-dark;
    box-shadow: none;

    .c-menu__icon-bar {
        background-color: $mono-white;
    }

	.c-menu__icon-bar-top {
        transform: translate3d(10px, 0, 0) rotate(45deg); 
	}

	.c-menu__icon-bar-middle {
		left: 50%; 
		right: 50%;
		opacity: 0;
	}

	.c-menu__icon-bar-bottom {
		transform: translate3d(10px, 0, 0) rotate(-45deg); 
	}
}

.c-menu__panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $color-primary-dark;
    visibility: hidden;
    z-index: 1000;
    transition: all $transition-duration $transition-easing;
    will-change: all;
}

    .c-menu__panel--open {
        right: 0;
        visibility: visible;
        
    }

.c-menu__logo {
    @include gooey-logo();
    margin: 0 auto 16px;
}

.c-menu__link-wrapper {
    width: 100%;
    line-height: 40px;
}
