.fd-grid__row,
.fd-grid__row-reverse,
.fd-grid__column,
.fd-grid__column-reverse {
	display: flex;
}

.fd-grid__row {
	flex-direction: row;
}
.fd-grid__row-reverse {
	flex-direction: row-reverse;
}
.fd-grid__column {
	flex-direction: column;
}
.fd-grid__column-reverse {
	flex-direction: column;
}

$grid-columns: 12;
$grid-gutter: 3%;

@for $i from 1 to $grid-columns {
  	.fd-grid__col$i {
	  	flex-basis: percentage($(i), $(grid-columns));
     	padding-right: $(grid-gutter);
  	}
}

.fd-grid__col {
	flex: 1;
    padding-right: $grid-gutter;
}
