:root {
    --color-primary-darker: hsla(194, 40%, 12%, 1);
    --color-primary-dark: hsla(196, 39%, 25%, 1);
    --color-primary: hsla(195, 66%, 63%, 1);
    --color-primary-light: hsla(193, 68%, 83%, 1);
    --color-primary-lighter: hsla(193, 66%, 93%, 1);

    --color-accent: hsla(75, 66%, 63%, 1);
    --color-accent-bright: hsla(81, 92%, 69%, 1);

    --color-white: hsla(360, 100%, 100%, 1);

    --primary-border: var(--color-primary);
    --primary-background: var(--color-primary-lighter);
}
