:root {
    --spacing: 8;

    --spacing-xs: calc(var(--spacing) / 4);
    --spacing-s: calc(var(--spacing) / 2);
    --spacing-l: calc(var(--spacing) * 2);
    --spacing-xl: calc(var(--spacing) * 4);
}

.fd-u-mt-xs {
    margin-top: var(--spacing-xs);
}

.fd-u-mh-auto {
    margin: 0 auto !important;
}
