// #Primary
$color-primary-darker: #131D26;
$color-primary-dark: #13262C;
$color-primary: #2999CA;
$color-primary-light: #4CB3DA;
$color-primary-lightest: #89D2E8;

// #Accent
$color-accent: #6BE012;
$color-accent-light: #96F550;

// #Mono
$mono-white: #FFFFFF;
$mono-black: #000000;
